<div class="bg-image">
    <section class="vh-100">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-7 col-lg-5 col-xl-4">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <div >
                                <div>
                                    <img src="https://s3.amazonaws.com/gupy5/production/companies/764/career/1820/images/2023-01-03_17-53_companyLogoUrl.png" class="img-fluid">
                                </div>
                                <div class="text-danger" *ngIf="mensagemErro">{{mensagemErro}}</div>
                                <form class="form" #form="ngForm" (ngSubmit)="onSubmit(form)">
                                    <div class="mb-4">
                                        <label class="form-label" for="nomeUsuario">Usuário</label>
                                        <input [ngClass]="{'is-invalid inputInvalido': (nome.invalid && (nome.dirty || nome.touched))}" name="nome" [(ngModel)]="usuario.Login" required #nome="ngModel" type="text" id="nomeUsuario" class="form-control form-control-lg" >
                                        <div class="text-danger" *ngIf="nome.invalid && (nome.dirty || nome.touched)">
                                            <div *ngIf="nome.errors?.['required']"><small><b>*</b> Nome é obrigatório.</small></div>
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label" for="senhaUsuario">Senha</label>
                                        <input [ngClass]="{'is-invalid inputInvalido': (senha.invalid && (senha.dirty || senha.touched))}" type="password" id="senhaUsuario" class="form-control form-control-lg" name="senha" [(ngModel)]="usuario.Senha" required #senha="ngModel">
                                        <div class="text-danger" *ngIf="senha.invalid && (senha.dirty || senha.touched)">
                                            <div *ngIf="senha.errors?.['required']"><small><b>*</b> Senha é obrigatório.</small></div>
                                        </div>
                                    </div>
                                    <button  class="btn btn-outline-light btn-lg px-5" type="submit" [disabled]="!form.valid">Login</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>