.bg-image {
    background-image: url('../../../assets/images/D3wallpaper.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

.inputInvalido{
    border-color:red;
    border-width: 2px;
}